[user]
  name = Sergey Rublev
  email = narma.nsk@gmail.com

[core]
#	gitProxy="ssh" for "kernel.org"
#	gitProxy=default-proxy ; for the rest
	compression = 9
	editor = vim

[alias]
  current-branch = "!git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \\(.*\\)/\\1/'"
  a = "!git add . && git status"
  ch = checkout
  c = commit -m
  ac = commit -am
  d = diff
  unstage = reset HEAD --
  pl = "!git pull origin $(git current-branch) --rebase"
  ph = "!git push origin $(git current-branch)"
  plh = "!git l && git h"
  r = "!git status | grep deleted: | cut -f 2 -d : | xargs git rm"
  lg = "log --pretty=format:'%C(yellow)%h%Creset %s %Cblue%d%Creset' --graph"
  content = "!git cat-file -p $(git ls-tree $1 $2 | cut -d " " -f 3 | cut -f 1)"
  ri = rebase --interactive --autosquash
  st = status
  br = branch
  re = remote
  what = whatchanged
  sh = !git-sh
  splice = add -i
  splice-commit = checkout -p

[color]
	branch = auto
	diff   = auto
	interactive = auto
	pager  = true
	ui     = auto
	status = true

[diff]
	renames = copy # basic rename detection + detect copies
  renameLimit = 0
  mnemonicprefix = true
  noprefix = true

[log]
  date = local

[commit]
#	template = <file>
#	Specify a file to use as the template for new commit messages.

[rerere]
	enabled = true

[merge]
	log = true
	renameLimit = 1000000
  tool = meld

[push]
    default = current

[rebase]
    stat = true
    autosquash = true

[mergetool]
	keepBackup = true # true is the default

[receive]
	fsckObjects = true

[status]
	submodulesummary = true
[giggle]
	compact-mode = false
	main-window-maximized = true
	main-window-geometry = 0x0+0+0

[diff "podiff"]
    textconv = strippocomments

[merge "pomerge"]
    name = merge driver fo .po gettext files
    driver = pomerge %O %A %B
    recursive = binary
